joovenv
myvenv
env
venv

secrets.json
__pycache__
*.pyc
media
folder/__pycache__/__init__.cpython-38.pyc
folder/__pycache__/admin.cpython-38.pyc
folder/__pycache__/apps.cpython-38.pyc
folder/__pycache__/models.cpython-38.pyc
folder/migrations/__pycache__/__init__.cpython-38.pyc
folder/migrations/__pycache__/0001_initial.cpython-38.pyc
Khurm/__pycache__/__init__.cpython-38.pyc
Khurm/__pycache__/settings.cpython-38.pyc
Khurm/__pycache__/urls.cpython-38.pyc
Khurm/__pycache__/wsgi.cpython-38.pyc
user/__pycache__/__init__.cpython-38.pyc
user/__pycache__/admin.cpython-38.pyc
user/__pycache__/apps.cpython-38.pyc
user/__pycache__/models.cpython-38.pyc
user/__pycache__/urls.cpython-38.pyc
user/__pycache__/views.cpython-38.pyc
user/migrations/__pycache__/__init__.cpython-38.pyc
user/migrations/__pycache__/0001_initial.cpython-38.pyc
