각자 secrets.json 파일 만들면 됩니다
database는 mysql로 하는 경우 설정해주세요
sqlite에서 모델이 반영될지 모르겠습니다... sqlite 사용하려면 settings파일 바꾸셔야해요
장고 secret key는 곧 지우겠습니다(공개된 레퍼지토리도 많이 보여서..)
{
    "SECRET_KEY" : "django-insecure-j36p+5o0v$(fb)2pgvfgo*wxeo_21*^s#xekayh(_^^m)ai&4#",
    "DATABASE" : {
        "ENGINE": "django.db.backends.mysql",
        "NAME": "...",
        "USER": "root",
        "PASSWORD": "...",
        "HOST": "localhost",
        "PORT": "3306"
    }
    "KAKAO_KEY" : "손주혜에게 물어봐주세요!"


}