.so-panels-dialog.so-panels-dialog-prebuilt-layouts .so-content .layout .layout-inside .description {height:auto !Important;}
.so-panels-dialog.so-panels-dialog-prebuilt-layouts .so-content .layout {width:25% !Important;}