@media(max-width:768px){
    .menu{
        display: none;
        position: absolute;
    }
    .contents{
        margin-left: 50px;
    }
}
@media(min-width:768px){
    .contents {
        background-color: rgb(255, 255, 255);
        margin-left: 300px;
        padding: 5px 10px;
        height: 100%;
    }
}
body {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
}

.menu {
    background-color: #E2E2E2;
    width: 300px;
    height: 100%;
    position: fixed;
    float: left;
}


#khurm_logo {
    margin-top: 50px;
    margin-left: 35px;
    margin-bottom: 50px;
    width: 150px;
    height: 70px;
}

#main_logo {
    width: 70%;
    height: 70px;
}


.button{
    width:300px;
    height:60px;
    border:0px;
    text-align:left;
    padding-left: 45px;
    cursor:pointer;
    /*position:relative;*/
    box-sizing:border-box;
    overflow:hidden;
    margin:0 0 0 0;
  }
.button a{
    font-family:arial;
    font-size:25px;
    color: #666;
    text-decoration:none;
    line-height:60px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
}
.button:hover{
    background-color: #808080;
}

.button:hover a{
    color:#42b983;
}
.blank_space{
    height: 40px;
}
#search_box{
    display: inline-block;
    margin-left: 20px;
    height: 80px;
    width: 400px;
}
#search_box input{
    height: 50px;
    width: 300px;
    border: 1px solid #42b983;
    float:left;
}
#search_box button{
    height: 55px;
    width: 55px;
    background-color: #42b983;
    
}
.menu_icon{
    display: inline-block;
    float: right;
    
}
.menu_icon button{
    height: 50px;
    width: 50px;
    border: 0px;
    font-size: 30px;
    background-color: #fff;
}
.abstract{
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 35px;
    width: 70%;
    border-bottom: 1px solid #E2E2E2;
}
.abstract button{
    width: 60px;
    height: 50px;
    background-color: #fff;
    border: 0px;
    text-align: center;
    text-decoration: underline;
    color: #42b983;
    float: right;
}
#filesetbutton{
}
.folder_set{
    width: 120px;
    height: 50px;
    margin: 5px;
    border: 0px;
    background-color: #42b983;
    color: #fff;
    display: inline-flex;
    cursor:default;
    text-decoration: none;
    
}
#file_table{
    height: 50px;
    width: 60%;
    border-spacing: 0px;
    border-collapse:collapse;
    text-align: center;

}
#file_table td{
    border-right: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
}
label{
    width: 100%;
    text-align: center;
}
input[type="file"] {  /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;

  }