{% load static %}
<!DOCTYPE html>
<html lang="ko-KR" class="no-js">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/index.js%}"></script>
    <link rel="stylesheet" href='{% static "css/index.css"%}' type='text/css'>
    <link rel="shortcut icon" href='{% static "img/Khurm_logo.ico"%}'>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <!--
    <link rel='stylesheet' href='{% static "css/bootstrap.min.css"%}' type='text/css' media='all'/>
	<link rel='stylesheet' href='{% static "css/index.css"%}' type='text/css'>
    ./Khurm_logo.ico
-->
    <title>Khurm</title>
</head>

<body style="margin: 0;">
    <div id='main'>
        <div class='menu'>
            <div id='khurm_logo'>
                <img id="main_logo" src="{% static 'img/Khurm_logo.png'%}">
            </div>
            <div id='menu'>
            </div>
        </div>
        <div class='contents'>
            <div class="blank_space"></div>
            <div class="navigator_space">
                <div id="search_box">
                    <input type="text" placeholder="검색어를 입력하세요">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
                <div class="menu_icon">
                    <button><i class="fas fa-question-circle"></i></button>
                    <button><i class="fas fa-cog"></i></button>
                </div>
            </div>
            <div class="abstract">
                <p>개요<button>숨기기</button></p>
            </div>
            <div id="filesetbutton" style="margin-left: 25px;">
                <div class="folder_set"><label for="folder_set"> <input id="folder_set" type="file" webkitdirectory mozdirectory><i class="fas fa-arrow-up"></i> upload </label></div>
                <div class="folder_set"><i class="fas fa-arrow-down"></i> download </div>
                <div class="folder_set"><i class="fas fa-ellipsis-h"></i></div>
            </div>
            <div style="margin-left: 25px; margin-top: 20px;">
                <table id="file_table">
                    <tr>
                        <td>이름</td>
                        <td>수정됨</td>
                        <td>구성원</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>