{% load static %}
<!DOCTYPE html>
<html lang="ko-KR" class="no-js">
<head>
	<title>khurm</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='{% static "css/bootstrap.min.css"%}' type='text/css' media='all'/>
	<link rel='stylesheet' href='{% static "css/animate.min.css"%}' type='text/css' media='all'/>
	<link rel='stylesheet' href='{% static "css/login_style.css"%}' type='text/css' media='all'/>
	<link rel='stylesheet' href='{% static "css/flexslider.css"%}' type='text/css' media='all'/>
</head>
<body class="frontpage">


<section id="home">
	<div class="container">
		<div class="textwidget">
			<div id="logo" style="text-align: center;"><img src='{% static "img/logo.png"%}' style="max-width:100%;border:0;height: 200px;	margin-bottom: 50px;margin-top:50px;"></div>

			<div class="left">
				<img src='{% static "img/background.png"%}' style="width:100%;">
			</div>

			<div class="right">
				<div id="tabMenu123" style="text-align: center;">
					<ul class="com_tabmenu">
						<li class="on"><a href="#none">로그인</a></li>
						<li><a href="#none">계정만들기</a></li>
					</ul>
				</div>

				<div id="tabSubMenu" style="text-align: center;" >
					<div class="panel" id="panel1" style="display:block;">
						<div id="naverIdLogin"><a href="#"><img src='{% static "img/naver.png"%}'></a></div>
						<div class="contactstyle t opform">
							<form method="post">
								<div class="form">
									<input type="text" id="loginemail" placeholder="E-mail *">
									<input type="password" id="loginpassword" placeholder="Password *">
									<input type="button" id="login" class="clearfix btn" value="로그인">
								</div>
							</form>
						</div>
					</div>

					<div class="panel" id="panel2" style="display:block;">
						<div id="naverIdRegister"><a href="#"><img src='{% static "img/naver.png"%}'></a></div>
						<div class="contactstyle topform">
							<form method="post">
								<div class="form">
									<input type="text" id="regemail" placeholder="E-mail *">
									<input type="text" id="regnickname" placeholder="nickname *">
									<input type="password" id="regpassword1" placeholder="Password *">
									<input type="password" id="regpassword2" placeholder="Re-enter password  *">
									<input type="button" id="register" class="clearfix" value="회원가입">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- SCRIPTS
================================================== -->
<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
<script src='{% static "js/jquery.js"%}'></script>
<script src='{% static "js/jquery.min.js"%}'></script>
<script src='{% static "js/jquery.scrolly.min.js"%}'></script>
<script src='{% static "js/plugins.js"%}'></script>
<script>
	var tabMenu = $("#tabMenu123 ul>li>a");
	var tabSubMenu = $("#tabSubMenu .panel");
	tabSubMenu.hide();
	
	tabMenu.on("click", function(e){
		var idx = tabMenu.index($(this));
		tabSubMenu.hide();
		tabSubMenu.eq(idx).show();
		
		$("#tabMenu123 ul>li").removeClass();
		$("#tabMenu123 ul>li").eq(idx).addClass("on");
	});
	tabMenu.eq(0).click();
</script>
<script>

	//login script
	function isEmail(email) {
		var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		return regex.test(email);
	}
	var loginButton = $("#login");

	loginButton.on("click",function(e) {
		var email = document.getElementById("loginemail");
		var password = document.getElementById("loginpassword");
		if(email.value=='' || password.value=='') {
			alert("필수 항목을 입력해주세요");
			if(email.value=='') {
				email.focus();
			}
			else {
				password.focus();
			}
			return false;
		}
		if(isEmail(email.value)==false) {
			alert("E-mail형식으로 입력해주세요.");
			email.focus();
			return false;
		}
		alert("로그인 완성");
		return true;
	});

	//register script

	var registerButton = $("#register");
	registerButton.on("click",function(e) {
		var email = document.getElementById("regemail");
		var nickname = document.getElementById("regnickname");
		var password1 = document.getElementById("regpassword1");
		var password2 = document.getElementById("regpassword2");
		if(isEmail(email.value)==false) {
			alert("E-mail형식으로 입력해주세요.");
			email.focus();
			return false;
		}
		if(email.value == '' || nickname.value == '' || password1.value == '' || password2.value == '') {
			alert("필수 항목을 입력해주세요.");
			if(email.value=='') {
				email.focus();
			}
			else if(nickname.value=='') {
				nickname.focus();
			}
			else if(password1.value=='') {
				password1.focus();
			}
			else {
				password2.focus();
			}
			return false;
		}
		if(password1.value != password2.value) {
			alert("패스워드가 다릅니다.");
			password2.focus();
			return false;
		}
	});
</script>
</body>
</html>
